#gameServerList {
    border: solid 2px;
    border-color: #1c1c1c;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #dbdbdb;
    color: white;
    font-family: Arial;
    display: flex;
    flex-direction: column;
}

.serverlist-header {
    background: linear-gradient(180deg, #484848, #353535);
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
}

.serverlist-header h1 {
    font-size: 1.3em;
    margin-left: 20px;
}

.lobby-desc {
    background: #353535;
    width: 100%;
    height: 4%;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: left;
    border-bottom: 1px solid;
    border-color: #545454;
    color: #a4a4a4;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

#lobbylist {
    scrollbar-gutter: stable;
    border-bottom: 2px solid;
    border-color: #1c1c1c;
    flex: 1;
    overflow-y: auto;
    background: linear-gradient(180deg, #262626, #1f1f1f);
    display: flex;
    flex-direction: column;
}

.lobby-desc::-webkit-scrollbar,
#lobbylist::-webkit-scrollbar {
    width: 8px;
}

#lobbylist::-webkit-scrollbar-thumb {
    background: #585858;
    border-radius: 4px;
}

#lobbylist::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a0;
}

.lobbylist-item {
    padding: 4px 0px;
    color: white;
    display: flex;
    flex-direction: row;
    text-align: left;
    transition: background 0.1s;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    color: #ccc;
}

.lobbylist-item.selected {
    background-color: rgb(13, 66, 101);
}

.lobbylist-column {
    font-size: 1.1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lobbylist-name {
    padding-left: 25px;
    width: 60%;
}

.lobbylist-host {
    width: 15%;
}

.lobbylist-players {
    width: 15%;
}

.lobbylist-status {
    flex: 1;
}

.right-border {
    border-color: #ffffff4f;
}

.serverlist-footer {
    display: flex;
    background: #353535;
    width: 100%;
    height: 7%;
    align-items: center;
    justify-content: space-between;
}

.footer-right,
.footer-left {
    padding: 0 20px;
    display: flex;
    gap: 20px;
}

button {
    padding: 10px 60px;
    background: #474747;
    border: none;
    border-radius: 3px;
    color: white;
    box-shadow: 0px 0px 8px rgba(19, 19, 19, 0.301);
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background-color: rgb(104, 104, 104);
}