:root {
    --bg: #2a2a2a;
    --bg-dark: #1a1a1a;
    --bg-light: #353535;
    --bg-selected: #192e0c;

    --text: #dfdfdf;
    --text-dim: #a4a4a4;

    --border: 4px solid #000000;

    --shadow-inset: inset -4px -4px 0 #222222, inset 4px 4px 0 #555555;
    --shadow-inset-selected: inset -4px -4px 0 #034219, inset 4px 4px 0 #2fd14f;

    --font: duckFont;
}

html,
body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    display: block;
}

#gameServerList {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg);
    color: white;
    font-family: var(--font);
    display: none;
    flex-direction: column;
    border: var(--border);
}

.serverlist-header {
    background: var(--bg);
    box-shadow: var(--shadow-inset);
    border-bottom: var(--border);
    width: 100%;
    display: flex;
    align-items: center;
}

.serverlist-header span {
    padding: 4px 0px;
    font-size: 46px;
    color: var(--text);
    margin-left: 20px;
}

.lobby-desc {
    background: var(--bg);
    box-shadow: var(--shadow-inset);
    border-bottom: var(--border);
    width: 100%;
    display: flex;
    text-align: left;
    color: var(--text-dim);
    overflow-y: auto;
}


#lobbylist {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.lobbylist-item {
    padding: 4px 0px;
    color: white;
    display: flex;
    flex-direction: row;
    text-align: left;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    color: var(--text);
}

.lobbylist-item.selected {
    background: var(--bg-selected);
    box-shadow: var(--shadow-inset-selected);
    color: var(--text);
}

.lobbylist-column {
    font-size: 2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lobbylist-name {
    padding-left: 25px;
    width: 35%;
}

.lobbylist-host {
    width: 25%;
}

.lobbylist-players {
    width: 25%;
}

.lobbylist-status {
    flex: 1;
}

.controls-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px 60px;
    margin-bottom: 50px;
}

.serverlist-footer {
    background: var(--bg);
    box-shadow: var(--shadow-inset);
    border-top: var(--border);
    padding: 10px 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#footer-right,
#footer-left {
    display: flex;
    padding: 0px 10px;
    gap: 14px;
}

button {
    font-family: var(--font);
    font-size: 38px;
    padding: 10px 30px;
    text-align: center;
    color: var(--text);
    background: var(--bg);
    box-shadow: var(--shadow-inset);
    border: var(--border);
    cursor: pointer;
}

button:hover {
    background: var(--bg-light);
    transform: translate(0, -2px);
}

button:disabled {
    cursor: default;
    color: var(--text-dim);
    opacity: 0.4;
    transform: none;
}

button:disabled:hover {
    background: var(--bg);
}

.modal {
    font-family: var(--font);
    flex-direction: row;
    color: var(--text);
    position: fixed;
    display: grid;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background: var(--bg);
    box-shadow: var(--shadow-inset);
    border: var(--border);
    font-size: 30px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    border-radius: 5px;
}

.modal-content input {
    font-family: var(--font);
    width: 220px;
}

#controlsMenu input {
    width: 120px;
}

#displayNameInput {
    flex: 0 0 200px
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
    gap: 0;
}

.modal-buttons button {
    flex: 1;
    padding: 12px 0;
    margin: 0 5px;
}

.modal h2 {
    margin: 0;
    margin-bottom: 20px;
}

.input-row {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.input-row label {
    text-align: left;
    width: 120px;
    margin: 0;
    padding: 0;
}

.input-row input {
    flex: 1;
    padding: 8px 12px;
    background: var(--bg);
    box-shadow: var(--shadow-inset);
    border: var(--border);
    color: var(--text);

    font-size: 1em;
    box-sizing: border-box;
    outline: none;
}

input:focus {
    background: var(--bg-selected);
    box-shadow: var(--shadow-inset-selected);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="color"] {
    appearance: none;
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
    border: var(--border);
    height: 40px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    box-shadow: var(--shadow-inset);
    padding: 0;
}

.hidden {
    display: none;
}

#scoreBoard,
#trophyBoard {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);

    aspect-ratio: 112 / 180;
    background-image: url("Assets/Images/UI/scoreboard.png");
    background-size: 100%;
    image-rendering: pixelated;
    opacity: 0;
}

#scores,
#wins {
    width: 81%;
    margin: auto auto;
    height: 85%;

    display: flex;
    flex-direction: column;
    gap: 1%;
    position: relative;
    overflow: hidden;
}

.playerScore {
    display: flex;
    height: calc(95% / 6);
    flex-shrink: 0;

    background: linear-gradient(90deg,
            rgba(var(--player-color-rgb), 0.6) 0%,
            rgba(var(--player-color-rgb), 0.6) calc(100% / 9),

            rgba(var(--player-color-rgb), 0.5) calc(100% / 9),
            rgba(var(--player-color-rgb), 0.5) calc(100% * 2 / 9),

            rgba(var(--player-color-rgb), 0.4) calc(100% * 2 / 9),
            rgba(var(--player-color-rgb), 0.4) calc(100% * 3 / 9),

            rgba(var(--player-color-rgb), 0.3) calc(100% * 3 / 9),
            rgba(var(--player-color-rgb), 0.3) calc(100% * 4 / 9),

            rgba(var(--player-color-rgb), 0.2) calc(100% * 4 / 9),
            rgba(var(--player-color-rgb), 0.2) calc(100% * 5 / 9),

            rgba(var(--player-color-rgb), 0.12) calc(100% * 5 / 9),
            rgba(var(--player-color-rgb), 0.12) calc(100% * 6 / 9),

            transparent calc(100% * 5 / 9),
            transparent 100%);
    image-rendering: pixelated;

    padding: 0 12px;

    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    font-size: 40pt;
    font-family: var(--font);
}

.trophyRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@font-face {
    font-family: duckFont;
    src: url(Assets/Fonts/ByteBounce.ttf);
}

.trophyIcon {
    width: 34px;
    height: 40px;
    margin-left: 4px;
}

.name {
    font-weight: bold;
    font-size: 30px;
}

.score {
    font-weight: bold;
    font-size: 70px;
}

#mapEditorMenu {
    width: 420px;

    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    display: none;
    flex-direction: column;
    overflow-y: auto;
    border-bottom: var(--border);
}

.menu-item {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background: var(--bg);
    box-shadow: var(--shadow-inset);
    border-top: var(--border);
    border-right: var(--border);
    cursor: pointer;
}

.menu-item span {
    font-size: 28px;
    font-family: var(--font);
    flex: 0;
    opacity: 0.8;
}

.menu-item:hover {
    background: var(--bg-light);
    box-shadow: var(--shadow-inset);
    transform: translate(0, -2px);
}

.menu-item.selected {
    background: var(--bg-selected);
    box-shadow: var(--shadow-inset-selected);
}

.menu-group-content {
    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
    border-left: var(--border);
    text-align: left;
}

.menu-group-header {
    padding: 14px;
    font-size: 30px;
    font-family: var(--font);
    border-top: var(--border);

    background: var(--bg-light);
    border-left: var(--border);
    border-right: var(--border);
    box-shadow: var(--shadow-inset);
}

.menu-icon-wrapper {
    height: 40px;
    width: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-icon {
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

::-webkit-scrollbar-thumb {
    box-shadow: var(--shadow-inset);
    background: var(--bg);
    border: var(--border);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bg-light);
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: var(--bg-dark);
    border: var(--border);
}

#mapEditorSettings {
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    overflow-y: auto;
    box-sizing: border-box;

    width: 400px;
    border-bottom: var(--border);
}

.menu-item input[type="checkbox"] {
    appearance: none;
    width: 24px;
    height: 24px;

    background: var(--bg-dark);
    border: var(--border);

    box-shadow: var(--shadow-inset);
    flex-shrink: 0;

    cursor: pointer;
}

.menu-item input[type="checkbox"]:checked {
    background: var(--bg-selected);
    box-shadow: var(--shadow-inset-selected);
}

.menu-item input[type="text"],
.menu-item input[type="number"] {
    flex: 1;
    width: 30px;
    text-align: center;
    padding: 4px;

    background: var(--bg-dark);
    color: white;

    border: var(--border);

    box-shadow: var(--shadow-inset);

    font-family: var(--font);
    font-size: 28px;
}

.menu-item input[type="text"] {
    width: 200px;
    text-align: left;
}

input:focus {
    outline: none;
}

.menu-item input[type="number"]:focus,
.menu-item input[type="text"]:focus {
    background: var(--bg-selected);
    box-shadow: var(--shadow-inset-selected);
}

#mapEditorButtons {
    position: absolute;
    bottom: 0;
    right: 0;
    justify-content: center;
    display: none;
}